@model IEnumerable<Category>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h2>Category List</h2>
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Category Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.Name</td>
                                
                                <td>
                                    <a asp-controller="Category"
                                       class="btn btn-primary btn-sm"
                                       asp-action="Details"
                                       asp-route-id="@item.CategoryId">
                                        Details
                                    </a>
                                    <a asp-controller="Category"
                                       class="btn btn-danger btn-sm"
                                       asp-action="Delete"
                                       asp-route-id="@item.CategoryId">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    No category has been found.
                </div>
            }
        </div>
    </div>
</div>


